body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #83a4d4, #b1f7fb);
}

button{
    color: white;
    padding: 10px;
    border: 2px solid white;
    background: black;
    display: block;
    margin-top: 10%;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #input-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
  }
  
  #resultado {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  